.cubetech-image-carousel-container {
	/* non-important css to give some space between the carousel and the top of hte browser */
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	overflow: hidden;
	padding-left: 40px;
	padding-right: 40px;
}
.cubetech-image-carousel-inner {
	float: left; 
	width: 100%; 
	overflow: hidden; 
}  
.cubetech-image-carousel {
	position: relative;
	/* moves everything one picture width left so that if the first slider button clicked is the right one, there is an image on the left to slide over to the right insteado of a blank space */
	left: -275px;
	list-style-type: none; 
	margin: 0px;
	padding: 0px;
	width:9999px;
	display: inline-block;
}

.cubetech-image-carousel li {  
	float: left;
	width: 267px;
	padding:0px;  
	height: 100px; 
	background: transparent;  
	margin: 0;
	text-align: center;
}

.cubetech-image-carousel li img {
	height: 100px;
	width: auto;
}

#left_scroll {
	cursor:pointer;
	position: absolute;
	left: 0;
	bottom:13px;
	background: url('../img/arrow-left.png') no-repeat;
	height: 32px;
	width: 55px;
	background-position:center; 
}
#right_scroll {
	cursor:pointer;
	position: absolute;
	right: 0;
	bottom:13px;
	background: url('../img/arrow-right.png') no-repeat;
	height: 32px;
	width: 55px;
	background-position:center; 
}
#cubetech-image-carousel-bottomline { 
	background: url(../img/slider-border.png);
	height: 1px;
	border: none;
	width: 1370px;
	position: relative;
	right: 80px;
	top: -12px;
}